
# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Logs
*.log
scraper_debug.log
autodeal_debug_live.html

# Streamlit
.streamlit/

# OS specific
.DS_Store
Thumbs.db
